.social-login
    button.social-login--github
        span
            i.fab.fa-github 
        |깃헙 계정으로 가입하기
    button.social-login--facebook
        span
            i.fab.fa-facebook 
        |페이스북 계정으로 가입하기