extends layouts/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="현재 비밀번호", placeholder="Current Password")
            input(type="password", name="새로운 비빌번호", placeholder="New Password")
            input(type="password", name="새로운 비빌번호 확인", placeholder="Verify New Password")
            input(type="submit", value="Change Password") 